.navbar {
  background-color: #333;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li.right {float: right;}

.logeado{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.barra{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #28a745;
    border-color: #28a745;
    text-align: center;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 70px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin-top: 20px; 
  padding-top: 10px; 
  background-color: #28a745;
  border-color: #28a745;
  text-align: center;
}

input{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
}

#logo{
  background-color: #28a745;
}

#img404{
  margin-top:30px;
  height: 500px;
}

div#logo img{
  width: 1349px; 
  height: 131px;
}
.menucentrado{
  margin: 100px;
  text-align:center;
  vertical-align:middle;
}
.menucentradocurso{
  margin: 60px;
  text-align:center;
  vertical-align:middle;
}
.submenucentradocurso{
  margin-top: 20px;
  text-align:center;
  vertical-align:middle;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: middle;
  padding: 8px;
}

.tabla_nth_child{
  margin-bottom: 20px;
  vertical-align:middle;
}

.tabla_nth_child tr:nth-child(even) {
  background-color: #dddddd;
}

.centrar{
  text-align:center;
  vertical-align:middle;
}

.margenseparadorlayout{
  margin: 60px;
}

#fecha_hasta_cf, #fecha_desde_cf{
  text-align: right;
}

.linkButton { 
  background: none;
  border: none;
  color: #0066ff;
  cursor: pointer; 
}

.linkButton:hover{ 
  text-decoration: underline;
}

.margenseparadorlayouttop{
  margin-top: 60px;
}

.espacioblanco{
  margin-top: 150px;
  text-align:center;
  vertical-align:middle;
}

